* {
    /*border: 1px black dotted;*/
}

.header {
    background-color: white;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.header__menu a {
    display: block;
    color: rgba(151, 103, 39, 1);
    text-decoration: none;
}

.header__menu a:hover {
    text-decoration: underline;
}


body {
    font-family: sans-serif;
    background-color: rgba(151, 103, 39, 1);
    color: white;
}

.main__me {
    display: flex;
    justify-content: space-between;
}

.main__about, .main__photo-container {
    width: 48%;
}

.main__description {
    display: flex;
    justify-content: space-between;
}

.main__about-me, .main__review {
    width: 48%;
}

.header__logo, .main__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    max-height: 100%;
}

.news__container {
    display: flex;
    justify-content: space-between;
}

.main__news {
    margin-top: 30px;
}

.news__item {
    max-width: 20%;
}

.new__picture img {
    max-width: 100%;
}



.news_second .news__container {
    flex-wrap: wrap;
}

.news_second .news__item {
    max-width: unset;
    width: 45%;
    margin-bottom: 15px;
}

.news_second .news__item:nth-child(2n) {
    text-align: right;

}